# Deno artifacts and dependencies
.deno_dir/
build/
dist/

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# dotenv environment variable files
.env
.env.*
!.env.example